<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibaochenyu.jzh_shop.dao.mapper.CommodityMapper">

    <select id="getPageCommodityWithCnt" resultType="cn.ibaochenyu.jzh_shop.dao.entity.CommodityDO">
<!--        select seat_type as seatType, count(*) as seatCount-->
<!--        from t_seat-->
<!--        where train_id = #{trainId}-->
<!--        and start_station = #{startStation}-->
<!--        and end_station = #{endStation}-->
<!--        and seat_status = '0'-->
<!--        and seat_type in-->
<!--        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">-->
<!--            #{seatType}-->
<!--        </foreach>-->
<!--        group by seat_type-->
<!--        having seatCount > 0-->
        select seat_type as seatType, count(*) as seatCount
        from t_seat
        where train_id = #{trainId}
        and start_station = #{startStation}
        and end_station = #{endStation}
        and seat_status = '0'
        and seat_type in
        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">
            #{seatType}
        </foreach>
        group by seat_type
        having seatCount > 0
    </select>
</mapper>
